.footer {
  margin: 0;
  margin-bottom: 52px;
  &__container {
    width: 850px;
  }

  &__footer-list {
    align-items: center;
    justify-content: center;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}