@use './post.scss';

.posts {
  background-color: #EDF7FA;
  margin-bottom: 7px;

  &__container {
    width: 850px;
  }

  &__info {
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    left: 20px;
    top: -11px;
    color: #00A8CC;
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
  }

  &__item {
    margin: 0;
    max-width: 418px;
    background-color: white;
    padding: 24px 13px 7px 31px;
    
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }
}