.works-info {
  margin: 0;
  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
  }

  &__add-content {
    align-items: center;
    margin: 0;
    margin-bottom: 17px;
  }

  &__year {
    background-color: #142850;
    border-radius: 16px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-right: 26px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;

  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}